#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_bitcoin
#build/bitcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_bitcoin)

DEB_INSTALL_EXAMPLES_TrashBurnd += debian/examples/*
DEB_INSTALL_MANPAGES_TrashBurnd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix TrashBurnd
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f TrashBurn-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake TrashBurn-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_TrashBurn
	src/test_TrashBurn

# Ensure wrapper is set executable
binary-post-install/TrashBurnd:
	chmod +x $(cdbs_curdestdir)usr/bin/TrashBurnd
binary-post-install/TrashBurn-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/TrashBurn-qt
